
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Copyright &copy; 2024</p>
    <p>All rights are reserved.</p>
    <p>Designed & Developed by Kalyan_amrutha.</p>
  </div>
</div>
</body>
</html>
